.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid $color_gray_2;
  > .ant-collapse-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: $color_gray_4;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 32px 0;

    svg {
      width: 32px;
      height: 32px;
    }

    .question-title {
      display: flex;
      align-items: center;
    }

    span {
      margin-right: 32px;
      font-weight: 600;
      font-size: 36px;
      line-height: 50px;
    }

    @media (max-width: $breakpoint_mobile_max) {
      font-size: 14px;
      line-height: 21px;
      padding: 20px 0;

      span {
        font-size: 16px;
        line-height: 26px;
        margin-right: 12px;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  svg {
    vertical-align: middle;
  }

  &-active {
    .ant-collapse-header {
      color: $color_primary;
    }
  }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0 51px 32px 73px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $color_white;

    @media (max-width: $breakpoint_mobile_max) {
      padding: 0 32px 18px;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
