.ant-menu {
  flex: 0 1 100%;
  margin-left: 16px;
  margin-right: 16px;
  background: transparent;

  &:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: transparent;
  }

  &-horizontal {
    border-bottom: none;

    &:not(.ant-menu-dark) > .ant-menu-item:hover,
    &:not(.ant-menu-dark) > .ant-menu-submenu:hover,
    &:not(.ant-menu-dark) > .ant-menu-item-active,
    &:not(.ant-menu-dark) > .ant-menu-submenu-active,
    &:not(.ant-menu-dark) > .ant-menu-item-open,
    &:not(.ant-menu-dark) > .ant-menu-submenu-open,
    &:not(.ant-menu-dark) > .ant-menu-item-selected,
    &:not(.ant-menu-dark) > .ant-menu-submenu-selected {
      &::after {
        border-bottom: none;
      }

      color: $color_primary;
    }

    & > .ant-menu-item::after,
    & > .ant-menu-submenu::after {
      display: none;
    }

    .ant-menu-item {
      transition: none;
    }

    > .ant-menu-item a {
      color: inherit;
      position: relative;

      .coming-soon {
        position: absolute;
        bottom: -20px;
        left: 0;
        --tw-text-opacity: 1;
        background: rgb(56 190 254 / var(--tw-text-opacity));
        color: white;
        font-size: 8px;
        line-height: 12px;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 3px;
      }

      &:hover {
        color: inherit;
      }

      &.active {
        --tw-text-opacity: 1;
        color: rgb(56 190 254 / var(--tw-text-opacity));
      }
    }
  }

  li {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
