header {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(37 41 48 / var(--tw-border-opacity));
  border-bottom-width: 1px;
  height: 75px;
  display: flex;
  align-items: center;
  padding: 10px 0;

  .header_mobile_wrapper {
    display: none;
  }
  .header_desktop {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    .ant-image {
      width: 122px;
    }
  }

  @media (max-width: $breakpoint_desktop_max) {
    .container {
      padding-left: calc(75px + 1rem);
      position: relative;
    }
    .header_mobile {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 73px;
      width: 75px;
      border-right-width: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      --tw-border-opacity: 1;
      border-right-color: rgb(37 41 48 / var(--tw-border-opacity));

      &_wrapper {
        display: flex;
        align-items: center;
      }

      svg {
        vertical-align: middle;

        path {
          --tw-text-opacity: 1;
          fill: rgb(56 190 254 / var(--tw-text-opacity));
        }
      }
    }
    .header_desktop {
      display: none;
    }

    .profile,
    .ant-menu {
      display: none;
    }

    .logo {
      width: 135px;
    }
  }

  @media (max-width: $breakpoint_mobile_max) {
    .ant-popover {
      left: 0 !important;
      top: 0 !important;

      &-placement-bottom,
      &-placement-bottomLeft,
      &-placement-bottomRight {
        padding-top: 0;
      }

      &-inner {
        min-height: 100vh;
      }
    }
  }
}

.social-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 12px;
  a {
    padding: 8px;
    background: #80808040;
    border-radius: 8px;
    display: flex;
  }
}